<table id="table" data-show-columns="true" data-striped="true" data-filter-control="true">
    <thead>
        <tr>
            <th data-field="subtitle" data-switchable="false" data-filter-control="select">Course</th>
            
            <th data-field="title" data-switchable="true" data-filter-control="select">Title</th>
            
            <th data-field="instr" data-switchable="true">Instructor</th>
            
            <th data-field="time" data-switchable="true">Time</th>

            <th data-field="status" data-switchable="true" data-filter-control="select">Status</th>

            <th data-switchable="true" data-formatter="actionFormatter" data-events="actionEvents">Seats</th>

            <th data-field="htmlKey" data-switchable="false" data-visible="false">Key</th>

            <th data-field="cap" data-switchable="true" data-visible="false">Cap</th>

            <th data-field="enroll" data-switchable="true" data-visible="false">Tot</th>

            <th data-field="avail" data-switchable="true" data-visible="false">Avail</th>
        </tr>
    </thead>
</table>